<h1>Tasks</h1>

<% @tasks.each do |task| %>
  <ul>
    <li>Title:<%= link_to task.title, task_path(task.id) %></li>
    <li>Details:<%= task.details %></li>
    <li>Completed:<%= task.completed %></li>
  </ul>
<% end %>
