<h1>Tasks</h1>

<% @tasks.each do |task| %>
  <ul>
    <li>Title:<%= link_to task.title, task_path(task) %></li>
    <li>Details:<%= task.details %></li>
    <li>Completed:<%= task.completed %></li>
  </ul>
<% end %>

<p><%= link_to "Add a new task", tasks_new_path %></p>
