<h1>Tasks</h1>

<ol>
<% @tasks.each do |task| %>
    <li>Title:<%= link_to task.title, task_path(task) %></li>
    <p>Details:<%= task.details %></p>
    <p>Completed:<%= task.completed %></p>
<% end %>
</ol>

<p><%= link_to "Add a new task", tasks_new_path %></p>
